// colors
$color-bg-primary: #eeebe5;
$color-bg-secondary: #e9eff2;
$color-bg-black: rgb(17, 17, 17);

$color-text-black: rgb(37, 37, 37);
$color-text-light-black: rgb(85, 83, 83);
$color-text-white: rgb(255, 255, 255);

// fonts
$font-Playfair-Display: "Playfair Display", serif;
$font-DM-Serif-Text: "DM Serif Text", serif;
$font-lora: "Lora", serif;
